/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ijo {
  color: #076132;
}

.kuning {
  color: #be810a;
}

.lebar {
  width: 100% !important;
}

.sedang {
  width: 40% !important;
}

.active {
  color: #ffff !important;
  background-color: #076132 !important;
}

.pilih {
  border-color: #076132 !important;
  border-radius: 20px !important;
  border-width: 2px !important;
  color: #076132;
}

.pilih:hover {
  color: white !important;
  background-color: #424242 !important;
}

.btn-primary {
  border-color: #076132 !important;
  background-color: #076132 !important;
  font-weight: 700 !important;
  border-width: 3px !important;
}

.btn-primary:hover {
  background-color: #118549 !important;
  box-shadow: none;
  border-color: #118549 !important;
}

.btn-primary:active {
  background-color: #118549 !important;
  box-shadow: none;
  border-color: #118549 !important;
}

.btn-primary:disabled {
  background-color: #118549 !important;
  box-shadow: none;
  border-color: #118549 !important;
}

.btn-outline {
  border-color: #076132 !important;
  color: #076132 !important;
  font-weight: 700 !important;
  border-width: 3px !important;
}

.btn-outline:hover {
  background-color: #076132 !important;
  color: white !important;
  box-shadow: none;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem !important;
  font-weight: 400 !important;
  border-color: #a5a5a5 !important;
  border-style: solid !important;
  border-width: 0 0 3px 0 !important;
  border-radius: 0 !important;
  background-clip: padding-box;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.input-group-text {
  line-height: 1.5;
  background-color: white !important;
  border-color: #a5a5a5 !important;
  color: #a5a5a5 !important;
  border-width: 0 0 3px 0 !important;
  height: auto;
  border-radius: 0 !important;
  background: none;
}

.focus {
  border-color: #076132 !important;
  color: #076132 !important;
}

.card-modal {
  background-color: #076132 !important;
  border: none !important;
  color: white !important;
}